version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - ML_SERVICE_URL=http://ml:9000

  ml:
    build: ./ml
    ports:
      - "9000:9000"

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
